h1, 
h2,
 h3{
    color: #3E5439;
}
.signin-form{
    color: #3E5439;
    background-color: #E8F7D5;
    padding: 20px;
    font-family: "InriaSerif";
    font-size: 15px;
    text-align: center;
}
h1{
    font-size: 30;
}
h2{
    font-size: 25;
}
h3{
    font-size: 23;
}
a{
    text-decoration: none;
    color: yellow;
}
input{
    margin-left: 20px;
  }
.to_registeration, .button_signin, .reset_password_but
{
    font-size: 15px;
    height: 40px;
    width: 200px;
    margin-right: 40px;
    background-color: darkgreen;
    color: yellow;
    border-radius: 50%;
    font-size: 15px;
}