header {
    background-color: rgb(127, 194, 155);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
    height: 20vh;
}
.logo {
    width: 40px;
}